<p>
  <strong><%= comment.user.name %>:</strong>
  <%= comment.body %>
  <%= comment.user %>
</p>
 
<p>
  <%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>